<form action="/result" method="post">
    Name: <input type="text" name="name"><br><br>
    Age: <input type="number" name="age"><br><br>
    Skills: <select name="skill">
        <option value="Javascript">Javascript</option>
        <option value="Python">Python</option>
        <option value="Java">Java</option>
        <option value="None">none</option>
    </select><br><br>
    Experience <input type="number" name="experience"><br><br>
    <input type="submit">
</form>