<form action="/result" method="post">
    T1: <input type="number" name="t1">
    T2: <input type="number" name="t2">
    T3: <input type="number" name="t3">
    T4: <input type="number" name="t4">
    <input type="submit">
</form>